<section id="portfolio-wrap">
  <h1>Featured Work</h1>
  <h2>from the developer, <a class="about-link" href="#">Joslyn Rosbrook</a></h2>
  <ul id="gallery">
    <li>
      <%= link_to pindd_path do %>
        PINDD
        <%= image_tag("pindd.png", alt: "Post-It Note Driven Development")%>
      <% end %>
    </li>
    <li>
      <%= link_to solarsystem_path do %>
        Solar System
        <%= image_tag("solarsystem.png", alt: "Solar System")%>
      <% end %>
    </li>
    <li>
      <%= link_to "Ploppy Cat", ploppycat_path %>
        <%= image_tag("ploppycat.png", alt: "Play Ploppy Cat")%>
    </li>
    <li>
      <%= link_to "Sync Cats", sync_cats_path %>
        <%= image_tag("sync-cats.png", alt: "Sync Cats")%>
    </li>
  </ul>
</section>
