<section id="about-wrap">
  <div class="primary">
    <h1>Hi there!</h1>
    <p>My name is Joslyn. I'm a Seattle based Ruby on Rails developer with a <strong>strong</strong> affinity for the front-end and user experience.</p>
    <div id="about-photo">
      <%= image_tag("cssisawesome.jpg", alt: "Joslyn Rosbrook")%>
    </div>
    <p>When I'm not on my computer, you can find me on my yoga mat or curled up under a pile of blankets (but usually the computer finds its way there as well).</p>
  </div>
  <div class="secondary">
    <p>I recently graduated Code Fellows and now I'd like to use my passion for design and development to help <b>YOU</b>!</p>
      <h3>Let's chat?</h3>
         <div class="social-icons">
          <a href="http://www.twitter.com/joslynrosbrook" style="color:dodgerblue; font-size: 50px" class="fa fa-twitter"></a>
          <a href="http://www.github.com/meowmaste" style="color:indigo; font-size: 50px" class="fa fa-github"></a>
          <a href="http://www.linkedin.com/in/joslynrosbrook" style=" color:dimgray; font-size: 50px" class="fa fa-linkedin"></a>
        </div>
        <h5 class="email"><a href="mailto:jrosbrook@gmail.com">jrosbrook@gmail.com</a></h5>
  </div>
</section>
<section id="portfolio-wrap">
  <h1>Featured Work</h1>
  <h2>from the developer, <a href="http://joslynrosbrook.com/about">Joslyn Rosbrook</a></h2>
  <ul id="gallery">
    <li>
      <%= link_to pindd_path do %>
        PINDD
        <%= image_tag("pindd.png", alt: "Post-It Note Driven Development")%>
        <% end %>
    </li>
    <li>
      <%= link_to "Solar System", solarsystem_path %>
        <%= image_tag("solarsystem.png", alt: "Solar System")%>
    </li>
    <li>
      <%= link_to "Ploppy Cat", ploppycat_path %>
        <%= image_tag("ploppycat.png", alt: "Play Ploppy Cat")%>
    </li>
    <li>
      <%= link_to "Sync Cats", sync_cats_path %>
        <%= image_tag("sync-cats.png", alt: "Sync Cats")%>
    </li>
  </ul>
</section>
