<!DOCTYPE html>
<html>
<head>
  <title>Joslyn Rosbrook | Developer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Candal|Allerta|Spinnaker' rel='stylesheet' type='text/css'>
</head>
<body class="<%= body_class %>">
  <header>
    <nav>
      <ul>
        <li><%= link_to "Projects", root_path %></li>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Musings", "#" %></li>
      <ul>
    </nav>
  </header>
  <%= yield %>
  <footer>
    <p>&copy; 2014 Joslyn Rosbrook.</p>
  </footer>

</body>
</html>
