<!DOCTYPE html>
<html>
<head>
  <title>Joslyn Rosbrook | Developer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <header>
    <nav>
      <ul>
        <li>Projects</li>
        <li>About</li>
        <li>Musings</li>
      <ul>
    </nav>
  </header>
  <%= yield %>
  <footer>
    <p>&copy; 2014 Joslyn Rosbrook.</p>
  </footer>

</body>
</html>
