<!DOCTYPE html>
<html>
<head>
  <title>Joslyn Rosbrook | Developer</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Candal|Allerta|Spinnaker' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body class="<%= body_class %>">
  <header>
    <nav>
      <ul>
        <li><%= link_to "Projects", root_path %></li>
        <li><%= link_to "About", "#", class:'about-link' %></li>
        <li><%= link_to "Musings", "http/" %></li>
      <ul>
    </nav>
  </header>
  <section id="about-wrap">
  <div class="primary">
    <h1>Hi there!</h1>
    <p>My name is Joslyn. I'm a Seattle based Ruby on Rails developer with a <strong>strong</strong> affinity for the front-end and user experience.</p>
    <div id="about-photo">
      <%= image_tag("cssisawesome.jpg", alt: "Joslyn Rosbrook")%>
    </div>
    <p>When I'm not on my computer, you can find me on my yoga mat or curled up under a pile of blankets (but usually the computer finds its way there as well).</p>
  </div>
  <div class="secondary">
    <p>I recently graduated Code Fellows and now I'd like to use my passion for design and development to help <b>YOU</b>!</p>
      <h3>Let's chat?</h3>
         <div class="social-icons">
          <a href="http://www.twitter.com/joslynrosbrook" style="color:dodgerblue; font-size: 50px" class="fa fa-twitter"></a>
          <a href="http://www.github.com/meowmaste" style="color:indigo; font-size: 50px" class="fa fa-github"></a>
          <a href="http://www.linkedin.com/in/joslynrosbrook" style=" color:dimgray; font-size: 50px" class="fa fa-linkedin"></a>
        </div>
        <h5 class="email"><a href="mailto:jrosbrook@gmail.com">jrosbrook@gmail.com</a></h5>
  </div>
</section>
  <%= yield %>
  <footer>
    <p>&copy; 2014 Joslyn Rosbrook.</p>
  </footer>

</body>
</html>
